subscription_id: '' 
location: ''
vm_name: ''
vm_size: 'Standard_A2'
image_reference_offer: 'UbuntuServer' 
image_reference_publisher: 'Canonical' 
image_reference_sku: '14.04.2-LTS' 
client_id: ''
tenant_id: ''
aad_password: ''
key_data: ''
