subscription_id: '' 
location:'West US'
vm_name: 'my_vm'
vm_size: 'Standard A0'
vm_os_type:'UbuntuServer'
vm_admin_username:'my_username'
vm_admin_password: ''
key_data: ''
client_id: ''
tenant_id: ''
key_data: ''
