subscription_id: '' 
location: ''
vm_name: ''
use_external_resource: false
existing_resource_group_name: ''
existing_storage_account_name: ''
existing_vnet_name: ''
existing_nic_name: ''
existing_public_ip_name: ''
vm_size: 'Standard_A2'
image_reference_offer: 'UbuntuServer' 
image_reference_publisher: 'Canonical' 
image_reference_sku: '14.04.2-LTS' 
ssh_username: ''
client_id: ''
tenant_id: ''
aad_password: ''
key_data: ''
